#footerLogo {
  background-color: rgb(230, 0, 18);
  color: white;
  padding: 2.25rem 1rem;
  height: 120px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoNew {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
#logosright {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.footer {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footerLink {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 50%;
  justify-content: space-between;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 1px dotted gray;
  padding-left: 15px;
  margin-top: 15px;
  cursor: pointer;
}
.about_none {
  border-right: 0;
}
.about h3 {
  color: rgb(72, 72, 72);
  opacity: 0.7;
  padding: 0;
  margin: 15px 0px;
}

.about li {
  list-style: none;
}
.about a {
  color: rgb(230, 0, 18);
  line-height: 1.4;
}

#bottom{
   background-color:  rgb(36, 36, 36);
  color:white;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

 }
 .bottom_section{
    font-size: 10px;
    display: flex;;
    width: 50%;
    margin:30px;
    gap:10px;
    justify-content: space-between;
 }
#bottom a{
    color:white;
}
.footer_bottom_links{
    display: flex;
    justify-content: space-between;
    gap:10px;

}




